<a href="https://colab.research.google.com/github/Simeen01/Pandas/blob/main/Pandas_merge_concat_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame({"Id":[1,2,3,4,5],"Class":[10,20,30,40,50]})
df1

   Id  Class
0   1     10
1   2     20
2   3     30
3   4     40
4   5     50

In [ ]:
df2 = pd.DataFrame({"Id":[1,2,3,4,5],"Class":['A','B','C','D','E']})
df2

   Id Class
0   1     A
1   2     B
2   3     C
3   4     D
4   5     E

In [ ]:
#on - common column
pd.merge(df1,df2,on="Id")

   Id  Class_x Class_y
0   1       10       A
1   2       20       B
2   3       30       C
3   4       40       D
4   5       50       E

In [ ]:
#suffixes - naming same column with suffix each char to consecutive column
pd.merge(df1,df2,on="Id",suffixes="12")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' as a <class 'str'>, is not supported and may give unexpected results. Provide 'suffixes' as a tuple instead. In the future a 'TypeError' will be raised.
  """Entry point for launching an IPython kernel.

   Id  Class1 Class2
0   1      10      A
1   2      20      B
2   3      30      C
3   4      40      D
4   5      50      E

In [ ]:
df3 = pd.DataFrame({"Id":[1,2,3,4,5],"Name":["Simeen","Saaliha","Safaa","Ayesha","Alia"]})
df3

   Id     Name
0   1   Simeen
1   2  Saaliha
2   3    Safaa
3   4   Ayesha
4   5     Alia

In [ ]:
pd.merge(df1,df3,on="Id")

   Id  Class     Name
0   1     10   Simeen
1   2     20  Saaliha
2   3     30    Safaa
3   4     40   Ayesha
4   5     50     Alia

In [ ]:
pd.merge(df1,df2,df3,on="Id")

ValueError: ignored

In [ ]:
pd.merge(df1,df3,how="right")

   Id  Class     Name
0   1     10   Simeen
1   2     20  Saaliha
2   3     30    Safaa
3   4     40   Ayesha
4   5     50     Alia

In [ ]:
d = pd.DataFrame({"Id":[1,2,3],"Blaah":[34,65,276]})
d

   Id  Blaah
0   1     34
1   2     65
2   3    276

In [ ]:
pd.merge(df1,d,on="Id",how="inner")

   Id  Class  Blaah
0   1     10     34
1   2     20     65
2   3     30    276

In [ ]:
pd.merge(df1,d,on="Id",how="left")

   Id  Class  Blaah
0   1     10   34.0
1   2     20   65.0
2   3     30  276.0
3   4     40    NaN
4   5     50    NaN

In [ ]:
pd.merge(df1,d,on="Id",how="right")

   Id  Class  Blaah
0   1     10     34
1   2     20     65
2   3     30    276

In [ ]:
#displays all
pd.merge(df1,d,on="Id",how="outer")

   Id  Class  Blaah
0   1     10   34.0
1   2     20   65.0
2   3     30  276.0
3   4     40    NaN
4   5     50    NaN

In [ ]:
#indicator - shows merging style
pd.merge(df1,d,on="Id",how="outer",indicator=True)

   Id  Class  Blaah     _merge
0   1     10   34.0       both
1   2     20   65.0       both
2   3     30  276.0       both
3   4     40    NaN  left_only
4   5     50    NaN  left_only

In [ ]:
t = pd.DataFrame({"Id":[1,2,3,4],"Whatever":["Ted","Raff",45,"GOAT"]})

In [ ]:
t

   Id Whatever
0   1      Ted
1   2     Raff
2   3       45
3   4     GOAT

In [ ]:
pd.merge(df1,t,left_index=True,right_index=True)

   Id_x  Class  Id_y Whatever
0     1     10     1      Ted
1     2     20     2     Raff
2     3     30     3       45
3     4     40     4     GOAT

In [ ]:
r = pd.DataFrame({"Id":[1,2,3,5,6],"Class":[10,20,30,40,50]})

y = pd.DataFrame({"Id":[1,2,3,4,7],"Whatever":["Ted","Raff",45,"GOAT","Zap"]})

In [ ]:
r

   Id  Class
0   1     10
1   2     20
2   3     30
3   5     40
4   6     50

In [ ]:
y

   Id Whatever
0   1      Ted
1   2     Raff
2   3       45
3   4     GOAT
4   7      Zap

In [ ]:
pd.merge(r,y,left_index=True,right_index=True)

   Id_x  Class  Id_y Whatever
0     1     10     1      Ted
1     2     20     2     Raff
2     3     30     3       45
3     5     40     4     GOAT
4     6     50     7      Zap

In [ ]:
#all values of both tables merged
pd.merge(r,y,on="Id",how="outer")

   Id  Class Whatever
0   1   10.0      Ted
1   2   20.0     Raff
2   3   30.0       45
3   5   40.0      NaN
4   6   50.0      NaN
5   4    NaN     GOAT
6   7    NaN      Zap

In [ ]:
#left table's values - r
pd.merge(r,y,on="Id",how="left")

   Id  Class Whatever
0   1     10      Ted
1   2     20     Raff
2   3     30       45
3   5     40      NaN
4   6     50      NaN

In [ ]:
#right table's values - y
pd.merge(r,y,on="Id",how="right")

   Id  Class Whatever
0   1   10.0      Ted
1   2   20.0     Raff
2   3   30.0       45
3   4    NaN     GOAT
4   7    NaN      Zap

In [ ]:
#common Id values
pd.merge(r,y,on="Id",how="inner")

   Id  Class Whatever
0   1     10      Ted
1   2     20     Raff
2   3     30       45

In [ ]:
a = pd.Series([1,2,3,4,5])
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
b = pd.Series([6,7,8,9,10])
b

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [ ]:
c = pd.Series(["A","e","i","o","u"],name="c")
c

0    A
1    e
2    i
3    o
4    u
Name: c, dtype: object

In [ ]:
pd.concat([a,b],axis=0)

0     1
1     2
2     3
3     4
4     5
0     6
1     7
2     8
3     9
4    10
dtype: int64

In [ ]:
pd.concat([a,b,c],axis=0) #axis = 0 //rowise

0     1
1     2
2     3
3     4
4     5
0     6
1     7
2     8
3     9
4    10
0     A
1     e
2     i
3     o
4     u
dtype: object

In [ ]:
#ignore_index= True //ignore's other tables index and puts sequential index
pd.concat([a,b,c],axis=0,ignore_index=True)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10     A
11     e
12     i
13     o
14     u
dtype: object

In [ ]:
pd.concat([a,b,c],axis=1) #axis = 1 //column-wise

   0   1  c
0  1   6  A
1  2   7  e
2  3   8  i
3  4   9  o
4  5  10  u

In [ ]:
#Keys - table merge as 1 row
pd.concat([a,b,c],axis=0,keys=["A","B","C"])

A  0     1
   1     2
   2     3
   3     4
   4     5
B  0     6
   1     7
   2     8
   3     9
   4    10
C  0     A
   1     e
   2     i
   3     o
   4     u
dtype: object

In [ ]:
pd.concat([a,b,c],axis=1,keys=[1,2,3])

   1   2  3
0  1   6  A
1  2   7  e
2  3   8  i
3  4   9  o
4  5  10  u